<!--Card-->
<div class="card mx-2 my-2">

    <!--Card image-->
    <div class="view hm-white-slight waves-light" mdbRippleRadius>
        <img [src]="article['urLtoImage']" class="img-fluid" alt="">
        <a>
            <div class="mask"></div>
        </a>
    </div>
    <!--/.Card image-->

    <!--Button-->
    <a class="btn-floating btn-action waves-light" data-toggle="modal" data-target="#basicExample" (click)="demoBasic.show()" mdbRippleRadius><i class="fa fa-chevron-right"></i></a>

    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title">{{article.title}}</h4>
        <hr>
        <!--Text-->
        <p class="card-text">{{article.source.name}}</p>
    </div>
    <!--/.Card content-->

    <!-- Card footer -->
    <div class="card-data">
        <ul>
            <li><i class="fa fa-clock-o"></i> &nbsp;{{article.publishedAt | timeAgo}}</li>
            
        </ul>
    </div>
    <!-- Card footer -->

</div>
<!--Card-->
<div mdbModal #demoBasic="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div  class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{article.title}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div  class="modal-body">
               <!-- <div [innerHTML]="article.url | safe" width="100%" height="100%"  ></div> -->
               <iframe style="min-height:70vh" [src]="article.url | safe" width="100%" height="100%"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm waves-light" data-dismiss="modal" (click)="demoBasic.hide()" mdbRippleRadius>Close</button>
                <button type="button" class="btn btn-primary btn-sm waves-light" mdbRippleRadius>Save changes</button>
            </div>
        </div>
    </div>
</div>
            