<section class="section">
    <div class="view intro hm-purple-light">
        <div class="full-bg-img flex-center">
            <div class="row py-5">
    <div class="py-5 justify-content-center">
      <div class="container justify-content-center">
           <div class="row justify-content-center" *ngIf='TopFive'>
               <div class="col-xs-12 col-sm-12 col-md-6 col-xl-4 col-lg-3" *ngFor='let article of TopFive'>
                   <!-- Card -->
<div style="max-width:12rem" class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-2 px-2">
    <div>
        <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Marketing</h5>
        <h3 class="card-title pt-2"><strong>{{article.title}}</strong></h3>
        <!-- <p>{{article.description}}</p> -->
        <h5 class="pink-text">By {{article.author}}</h5>
        <!-- <a class="btn btn-pink waves-light" mdbRippleRadius><i class="fa fa-clone left"></i> View project</a> -->
    </div>
</div>
<!-- Content -->
</div>
<!-- Card -->
               </div>
           </div> 
    
    </div>
    </div>
    
    </div>
    
    </div></div>
    </section>

<mdb-navbar [ngStyle]="styleName" #bottomnavVar (scroll)="onScrollEvent($event)" [SideClass]="className">
           
    <!-- Navbar brand -->
    <logo><a class="navbar-brand" href="#">{{category}}</a></logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius>Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius>Pricing</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                Sort By<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbRippleRadius href="#">relevancy</a>
                    <a class="dropdown-item waves-light" mdbRippleRadius href="#">popularity</a>
                    <a class="dropdown-item waves-light" mdbRippleRadius href="#">publishedAt</a>
                   
                </div>
            </li>

        </ul>
        <!-- Links -->

        <!-- Search form -->
        <form class="form-inline  waves-light" mdbRippleRadius>
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->



<div id="navtop" class="container px-3">
    <div class="row">

<div class="row">
  
  <div *ngIf='responseData' >
  <div class="row">

    <div *ngFor='let article of responseData.articles;let i = index' class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 px-2 py-2">    
      <app-category-news-article  [article]='article'></app-category-news-article></div>
    </div>
  </div>
</div>
</div>
<div class="row justify-content-end"><!--Pagination -->
  <nav class="my-4">
      <ul class="pagination pagination-circle pg-blue mb-0">
  
          <!--First-->
          <li class="page-item disabled"><a class="page-link" mdbRippleRadius>First</a></li>
  
          <!--Arrow left-->
          <li class="page-item disabled">
              <a class="page-link" mdbRippleRadius aria-label="Previous">
                  <span aria-hidden="true">«</span>
                  <span class="sr-only">Previous</span>
              </a>
          </li>
          
          <!--Numbers-->
          <li *appLoop = "(responseData.totalResults / 20)"  class="page-item active"><a class="page-link" mdbRippleRadius>1</a></li>
          <li class="page-item"><a class="page-link" mdbRippleRadius >2</a></li>
          <li class="page-item"><a class="page-link" mdbRippleRadius >3</a></li>
          <li class="page-item"><a class="page-link" mdbRippleRadius >4</a></li>
          <li class="page-item"><a class="page-link" mdbRippleRadius >5</a></li>
  
          <!--Arrow right-->
          <li class="page-item">
              <a class="page-link" mdbRippleRadius aria-label="Next">
                  <span aria-hidden="true">»</span>
                  <span class="sr-only">Next</span>
              </a>
          </li>
  
          <!--First-->
          <li class="page-item"><a class="page-link">Last</a></li>
  
      </ul>
  </nav>
  <!--/Pagination --></div>
</div>
