<div style="max-width:18rem;" class="card card-dark mx-2 my-2">
  <!--Card image-->
  <div class="view hm-white-slight waves-light" mdbRippleRadius>
      <img [src]="article['urLtoImage']" class="img-fluid" alt="">
      <a>
          <div class="mask"></div>
      </a>
  </div>
  <!--/.Card image-->
  <!--Button-->
  <a class="btn-floating btn-action waves-light" mdbRippleRadius><i class="fa fa-chevron-right"></i></a>
  <!--Card content-->
  <div class="card-body">
      
      <!--Title-->
      <h4 class="card-title">{{article.title}}</h4>
      <hr>
      <!--Text-->
      <p class="card-text white-text">By {{article.author}}</p>
      <a [href]="article.url" class="d-flex flex-row-reverse">
          <h5 class="waves-effect p-2" mdbRippleRadius>Read More <i class="fa fa-chevron-right"></i></h5>
      </a>
  </div>
  <!--/.Card content-->
   <!-- Card footer -->
   <div class="card-data  justify-content-center">
        <ul class="row">
            <li><i class="fa fa-clock-o"></i>{{article.publishedAt}}</li>
             
        </ul>
        <ul class="row">
            <li><i class="fa fa-clock-o"></i>{{article.source.name}}</li>
        </ul>
    </div>
    <!-- Card footer -->
</div>
<!--/.Card Dark--> 