

<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="496273594722-9k50hk5h04q7u6v35i2728fd21svmg73" content="496273594722-9k50hk5h04q7u6v35i2728fd21svmg73.apps.googleusercontent.com">
<mat-card class="example-card mx-auto my-5">
  <mat-card-header class="flex-center">
    
    <mat-card-title>SIGN UP</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <img mat-card-image  alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <form [formGroup]="SignUpForm" (ngSubmit)="onFormSubmit(SignUpForm)" class="example-form">
      <div class="row">
        <div class="col-6">
            <mat-form-field class="example-full-width">
                <input  matInput placeholder="First Name" formControlName="firstName">
                <button mat-button *ngIf="firstName.value" matSuffix mat-icon-button aria-label="Clear" (click)="firstName.setValue('')">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-error *ngIf="firstName.hasError('required')">
                   First Name is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="example-full-width">
                <input  matInput placeholder="Last Name"formControlName="lastName" >
                <button mat-button *ngIf="lastName.value" matSuffix mat-icon-button aria-label="Clear" (click)="lastName.setValue('');">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-error *ngIf="lastName.hasError('required')">
                    Last Name is <strong>required</strong>
                   </mat-error>
              </mat-form-field>
        </div>
      </div>
      <div class="row">
          <mat-form-field class="example-full-width col-12">
              <input  formControlName = "city"  #query (keyup)="onCityInput(query.value)" matInput placeholder="City" aria-label="City" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let city of filteredStates | async" [value]="city">
                 
                  <span>{{ city }}</span>
                  <!-- <small>Population: {{state.population}}</small> -->
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
      </div>
      <mat-form-field class="example-full-width">
        <input   matInput placeholder="Email" formControlName="email"
               errorStateMatcher>
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class=" example-container">
        <mat-form-field class="example-full-width">
          <input     matInput formControlName="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="password.hasError('minlength')">
            Password should be minimum 8 characters
          </mat-error>
        </mat-form-field>
       
      </div>
      <div class="row justify-content-center">
        Or
      </div>
      <div style="margin-left:0;" class="row w-100 justify-content-center">
        <div class="button-row flex-center col-12">
            <button (click)="facebookSignup()" class="col-6" mat-button color="primary">Facebook</button>
            <button (click)="googleSignup()" class="col-6" mat-button color="warn">Google+</button>
          </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
      <div class="button-row flex-center">
          <a routerLink="/Login"  class="col-6" mat-raised-button>LOGIN</a>
          <button (click)="onFormSubmit(SignUpForm)" type="submit" [disabled] ="SignUpForm.invalid || SignUpForm.untouched || SignUpForm.pristine || SignUpForm.status == 'INVALID' ? 'true' : 'false'"  class="col-6" mat-raised-button color="accent">SUBMIT</button>
      </div>
  </mat-card-actions>
</mat-card>