<main>
        <section class="section">
<div class="view intro hm-purple-light">
    <div class="full-bg-img flex-center">
        <div class="row">
<div class="container-fluid">
  <div class="row justify-content-center">
 <app-breaking-news></app-breaking-news>
</div>
</div>

</div>

</div></div>
</section>
<section class="section category-news sports" >
        <div class="row">Sports</div>
        <div class="row">
                <div  class="container-fluid">
                        <div class="row justify-content-center">
                                <app-category-news [category]='"sports"'></app-category-news>
                               </div>
                            </div>
                </div>

</section>
<section class="section category-news science" >
                <div class="row">Science</div>
        <div class="row">
                <div  class="container-fluid">
                        <div class="row justify-content-center">
                                <app-category-news [category]='"science"'></app-category-news>
                               </div>
                            </div>
                </div>

</section>
<section class="section category-source">
<div class="row"><app-source></app-source></div>
</section>
</main>