.intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg")no-repeat center center;
    background-size: cover;
}
.btn .fa {
    margin-left: 3px;
}
.top-nav-collapse {
    background-color: #424f95 !important; 
}
.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #424f95 !important;
    } 
}
h6 {
    line-height: 1.7;
}
 
@media (max-width: 450px) {
    .margins {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}
@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 1020px; 
    } 
}


.view {
    position: inherit;
}

.view .full-bg-img {
    min-height: 40%;
    height: auto;
}

.md-form{
    min-width: 70%;
}

.form-control:focus {
    background: white;
}

input[type=text]{
    background-color: rgba(255, 255, 255, 0.39);
}

.fa{
    position: absolute;
    left: 30px;
    top: 15px;
}

.md-form.form-sm input {
     
    padding-left: 3.0rem;
    padding-right: 3.0rem;
     
}

.full-bg-img[_ngcontent-c3] {
    background: none;
}

.hm-gradient[_ngcontent-c3] .full-bg-img[_ngcontent-c3] {
    background: none;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }