<div  class="container-fluid">
    
    <!--Intro Section-->
    <section class="view intro-2 hm-gradient">
        <div id="dashboard-weather" class="full-bg-img pb-3">
            <div style="background: linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);" class="container-fluid">
                    <div  class="row flex-center pt-5 mt-3">
                            <form class="form-inline md-form form-sm flex-center mt-2">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input class="form-control form-control-sm ml-3 w-100" type="text" placeholder="Search" aria-label="Search">
                            </form> 
                        </div>
                <div class="row flex-center">
                    
                        <div class="white-text">
                            <h1 class="h1-responsive wow fadeInLeft" data-wow-delay="0.3s">Welcome </h1>
                                 
                                 
                        </div>
                   
                    
                   
                </div>
                <div style='margin: auto;
                max-width: 35.8rem;
                overflow: hidden;
                justify-content: center;' *ngIf='weatherWrapper' class="row flex-center">
                <div class="col">
                   <div *ngIf='currentWeather' class="row">
                       <div class="col-6 flex-center"><img [src]= 'currentWeather.weather[0].icon' /></div>
                       <div class="col-6 flex-center my-auto white-text">{{currentWeather.main.temp | tempConverter: 'f' | number: '2.0-0'}}</div>
                   </div>
                   <div class="row flex-center white-text">{{weatherWrapper.city.name}}</div>
                </div>
                    <div class="col" *ngFor='let weatherData of weatherWrapper.list'>
                        <div class="white-text">
                            <div class="row flex-center">{{weatherData.dt_txt | date: 'EEE'}}</div>
                            <div class="row flex-center">
                                    <img [src]='weatherData.weather[0].icon'/>   
                            </div>
                            <div class="row flex-center">
                                <div class="col">{{weatherData.main.temp_min | tempConverter:'f' | number: '2.0-0'}}</div>
                                <div class="col">{{weatherData.main.temp_max | tempConverter: 'f' | number: '2.0-0'}}</div>
                            </div>
                              
                                 
                        </div>
                   
                    </div>
                   
                </div>
               
            </div>
            <div *ngIf="topHeadlines" class="container mx-auto   row px-5 py-5">
                <div *ngFor="let article of topHeadlines.articles" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                    <app-dashboard-article [article]="article"></app-dashboard-article>
                </div>
            </div>
        </div>
        
    </section>
     
</div>