<form class="form-inline md-form form-sm flex-center mt-2">
    <i class="fa fa-search" aria-hidden="true"></i>
    <i (click) ="toggleAdvancedSearch()" class="fa cogs fa-cogs" aria-hidden="true"></i>
    <input id="input_text" type="text" length="50" mdbCharCounter mdbActive #inputbox (keyup.enter) ="onEnterPressed(inputbox.value)" (blur) ="inputbox.value = ''"  (keyup)="onKeyPressed(inputbox.value)" class="form-control form-control-sm ml-3 w-100" type="text" placeholder="Search" aria-label="Search">
     
           
      
                 
                  
     
</form>
<form  [ngStyle]="!flag && {'visibility':'hidden'}">
        <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="From"
                       (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>  
              <mat-form-field>
                    <input matInput [matDatepicker]="picker2" placeholder="To"
                           (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                        <mat-select placeholder="Popularity">
                          <mat-option>None</mat-option>
                          <mat-option *ngFor="let state of [1,2,3,4]" [value]="state">{{state}}</mat-option>
                        </mat-select>
                      </mat-form-field>  
                      <mat-form-field>
                            <mat-select placeholder="Toppings" [formControl]="toppings" multiple>
                              <mat-select-trigger>
                                {{toppings.value ? toppings.value[0] : ''}}
                                <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                                  (+{{toppings.value.length - 1}} others)
                                </span>
                              </mat-select-trigger>
                              <mat-option *ngFor="let topping of [1,2,3,4,5]" [value]="topping">{{topping}}</mat-option>
                            </mat-select>
                          </mat-form-field>
</form>    

       
     