<div class="container justify-content-center px-auto py-auto">

    <div *ngIf="newsData">
        <div class="row">
            <app-breaking-news-article (outArticle)='displayArticleOnModal($event)' (showModal)='initiateModal($event)' class="col-sm-6 col-xs-12 col-md-6 col-lg-3 col-xl-3 py-3"  *ngFor="let article of newsData.articles" [article]="article"></app-breaking-news-article>
        </div>
        </div>

</div>
<div mdbModal (onHidden)='onHidden()' #demoBasic="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div *ngIf='article' class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{article.title}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
               <iframe style="min-height:70vh"  [src]="article.url | safe" width="100%" height="100%"  ></iframe>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm waves-light" data-dismiss="modal" (click)="demoBasic.hide()" mdbRippleRadius>Close</button>
                <button type="button" class="btn btn-primary btn-sm waves-light" mdbRippleRadius>Save changes</button>
            </div>
        </div>
    </div>
</div>
