
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }

  input[type=password], input[type=text]{
      border-bottom: none;
      height: 100%;
  }

  input[type = password]:focus:not([readonly]),input[type = text]:focus:not([readonly]) {
    border-bottom: none;
    border-radius: 0%;
    box-shadow: 0 0 0 0 transparent;
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }